<a href="https://colab.research.google.com/github/dunomi/zw/blob/master/z8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

X=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
Y=pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))/100
Z=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')
G=pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two','two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [1, 2, 3, 4, 5, 6],
                   'zoo': ['x', 'y', 'z', 'q', 'w', 't']})

**set_option**

display.chop_threshold: float or None
if set to a float value, all float values smaller then the given threshold will be displayed as exactly 0 by repr and friends. [default: None]

display.colheader_justify‘left’/’right’
Controls the justification of column headers. used by DataFrameFormatter. [default: right]

In [0]:
pd.set_option('chop_threshold',0.4)
print(Y)
pd.reset_option('all')
print(Y)

In [0]:
pd.set_option('colheader_justify','left')
print(X)
pd.reset_option('all')
print(X)

In [0]:
pd.set_option('max_columns',999)
pd.set_option('max_colwidth',6)
pd.set_option('max_rows',6)

print(X)
pd.reset_option('all')
print(X)

**pivot**

In [0]:
MELT=pd.melt(G, id_vars =['zoo'], value_vars =['foo','bar','baz'])
PIVOT= MELT.pivot(index='zoo', columns='variable', values='value')

print(G)
print(MELT)
print(PIVOT)

   foo bar  baz zoo
0  one   A    1   x
1  one   B    2   y
2  one   C    3   z
3  two   A    4   q
4  two   B    5   w
5  two   C    6   t