<a href="https://colab.research.google.com/github/dunomi/zw/blob/master/z8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

X=pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/titanic.csv')
Y=pd.DataFrame(np.random.randint(0,100,size=(100, 4)), columns=list('ABCD'))/100

display.chop_threshold: float or None
if set to a float value, all float values smaller then the given threshold will be displayed as exactly 0 by repr and friends. [default: None]

display.colheader_justify‘left’/’right’
Controls the justification of column headers. used by DataFrameFormatter. [default: right]

In [0]:
pd.set_option('chop_threshold',0.4)
print(Y)
pd.reset_option('all')
print(Y)

In [0]:
pd.set_option('colheader_justify','left')
print(X)
pd.reset_option('all')
print(X)

In [63]:
pd.set_option('max_columns',999)
pd.set_option('max_colwidth',6)
pd.set_option('max_rows',6)

print(X)
pd.reset_option('all')
print(X)

     survived  pclass    sex   age  sibsp  parch   fare embarked  class  \
0        0         3    male  22.0      1      0  7....      S    Third
1        1         1   fe...  38.0      1      0  71...      C    First
2        1         3   fe...  26.0      0      0  7....      S    Third
..     ...       ...     ...   ...    ...    ...    ...    ...      ...
888      0         3   fe...   NaN      1      2  23...      S    Third
889      1         1    male  26.0      0      0  30...      C    First
890      0         3    male  32.0      0      0  7....      Q    Third

       who  adult_male deck embark_town alive  alone
0      man   True       NaN  So...         no  False
1    woman  False         C  Ch...        yes  False
2    woman  False       NaN  So...        yes   True
..     ...    ...       ...    ...        ...    ...
888  woman  False       NaN  So...         no  False
889    man   True         C  Ch...        yes   True
890    man   True       NaN  Qu...         no   True

[891 rows x 15 columns]

: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

     survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0           0       3    male  22.0  ...   NaN  Southampton     no  False
1           1       1  female  38.0  ...     C    Cherbourg    yes  False
2           1       3  female  26.0  ...   NaN  Southampton    yes   True
3           1       1  female  35.0  ...     C  Southampton    yes  False
4           0       3    male  35.0  ...   NaN  Southampton     no   True
..        ...     ...     ...   ...  ...   ...          ...    ...    ...
886         0       2    male  27.0  ...   NaN  Southampton     no   True
887         1       1  female  19.0  ...     B  Southampton    yes   True
888         0       3  female   NaN  ...   NaN  Southampton     no  False
889         1       1    male  26.0  ...     C    Cherbourg    yes   True
890         0       3    male  32.0  ...   NaN   Queenstown     no   True

[891 rows x 15 columns]

/usr/local/lib/python3.6/dist-packages/pandas/_config/config.py:620: FutureWarning:
: boolean
    use_inf_as_null had been deprecated and will be removed in a future
    version. Use `use_inf_as_na` instead.

  warnings.warn(d.msg, FutureWarning)