<a href="https://colab.research.google.com/github/dunomi/zw/blob/master/zp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [122]:
import pandas as pd
import numpy as np
import random

usa = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv")
usa_cities=usa.name.tolist()
usa_pop=usa['pop'].tolist()

cars = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/mtcars.csv")
cars_hp=cars[['manufacturer','hp']]

uber_rides = pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/uber-rides-data1.csv")

ERROR! Session/line number was not unique in database. History logging moved to new session 66

In [0]:
def amount_vovel_sort(lista):
  "Funkcja sortująca liste według ilość samogłosek w słowach"
  lista.sort(key = lambda word: sum(i in 'aeiou' for i in word),
             reverse=True)
  return lista

#help(amount_vovel_sort)
#print(amount_vovel_sort(usa_cities))

In [0]:
def amount_words_in_name_sort(lista):
  "Funkcja sortująca malejąco liste według ilość członów odzielonych sapacjami"
  lista.sort(key=lambda word: len(word.split()),
             reverse=True)
  return lista

#help(amount_words_in_name_sort)
#print(amount_words_in_name_sort(usa_cities))

In [0]:
def amount_letters_in_word_sort(lista):
  "Funkcja sortująca listę według ilości liter w słowach"
  lista.sort(key=len)

#help(amount_letters_in_word_sort)
#print(amount_words_in_name_sort(usa_cities))

In [0]:
def words_sorting(lista):
  "Funkcja sortująca elemnty w liście. Dla napisów będzie to sortowanie alfabetyczne"
  lista2=[''.join(sorted(i)) for i in lista]
  return lista2

#help(words_sorting)
#print(words_sorting(usa_cities))

In [0]:
usa_dict=dict(zip(usa_cities,usa_pop))

def dict_sorting_by_values(slownik):
  "Funkcja sortująca klucze słownika według wartości"
  k=sorted(slownik.items(), 
           key = lambda i: i[1],
           reverse=True)
  return dict(k)

#help(dict_sorting_by_values)
#print(dict_sorting_by_values(usa_dict))

In [0]:
def list1_by_list2_sort(lista1,lista2):
  "Funkcja sortująca rosnąco liste1 według wartosci z listy2"
  l = [x for _,x in sorted(zip(lista2,lista1))]
  return l

#help(list1_by_list2_sort)
#print(list1_by_list2_sort(cars.manufacturer.tolist(),cars_hp.hp.tolist()))

In [121]:
dates=[i[0:10] for i in uber_rides['Date/Time'].tolist()
random.shuffle(dates)

def str_date_sort(daty):
  "Funkcja sortująca liste dat formatu 'YYYY-MM-DD', które są typu string"
  l=[int(i.replace('-','')) for i in daty]
  l.sort()
  return l

help(str_date_sort)
print(str_date_sort(dates[0:50]))

SyntaxError: ignored

ERROR! Session/line number was not unique in database. History logging moved to new session 65

In [121]:
dates[0:50]

['2014-06-05',
 '2014-04-04',
 '2014-05-06',
 '2014-05-04',
 '2014-04-02',
 '2014-05-09',
 '2014-04-06',
 '2014-04-01',
 '2014-05-15',
 '2014-05-16',
 '2014-04-26',
 '2014-05-09',
 '2014-04-10',
 '2014-05-27',
 '2014-04-06',
 '2014-05-03',
 '2014-05-16',
 '2014-05-18',
 '2014-05-04',
 '2014-05-24',
 '2014-05-06',
 '2014-06-10',
 '2014-05-21',
 '2014-05-31',
 '2014-05-21',
 '2014-06-28',
 '2014-04-02',
 '2014-06-12',
 '2014-05-08',
 '2014-04-23',
 '2014-05-21',
 '2014-05-10',
 '2014-05-02',
 '2014-04-10',
 '2014-06-11',
 '2014-04-24',
 '2014-05-28',
 '2014-05-10',
 '2014-05-16',
 '2014-06-19',
 '2014-05-05',
 '2014-04-02',
 '2014-04-25',
 '2014-05-29',
 '2014-04-04',
 '2014-06-08',
 '2014-04-25',
 '2014-06-04',
 '2014-04-30',
 '2014-04-30']

ERROR! Session/line number was not unique in database. History logging moved to new session 64